.logo{
    width: 119px;
    left: 39px;
}
.typo{
    font-family: Helvetica;
    /* width: 100px; */
    font-size: 12px;
    color: black !important;
    list-style: none;
}
.test a{
    font-weight: bolder;
    font-size: 15px;
}
.footer{
    background-color:#F5A03A;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer h1{
    font-family: Helvetica;
font-size: 14px;
font-style: normal;
font-weight: bold;
/* line-height: 29px;
letter-spacing: 0em; */
/* text-align: left; */
}
.footer > p{
    font-family: Helvetica;
    font-size: 10;
    margin: 0;
    padding: 0;
    text-align: center;

}
.navbar-brand img{
    position: absolute;
}
.conteneur{
    background-color:#1E1E1E;
    width: 5px;
    height: 200px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right:20px ;
    margin-top: 20px;
}
.icon{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: Serif;
    /* flex-direction: ; */
}
button{
    color: #fff;
    background-color:#1E1E1E !important ;
    border-style: none !important;
    left: 25px;
    font-size: 15px;
    padding: 0;
    max-width: 150px;
}
button:default{
    border: 0px solid black !important;
    border-style: none !important;
}
.button{
    background-color: #F5A03A !important;
    left: 10px;
}
.modal-container{
    background-color: #F5A03A;
    color: #fff;
    font-family: helvetica;
    font-size: 15px!important;
    font-weight: normal;
}
h5{
    font-size: 18px!important;
    margin-top: 10px;
}
.link{
    margin-bottom: 30px;
}
.link a{
    font-family: helvetica;
    font-size: 30px;
    text-decoration-style: none;
    color: #1e1e1e;
    text-decoration: none;
}
.link{
    border: 1px solid#F5A03A;
    width: 275px;
    background-color: #F5A03A;
    border-radius: 30px;
}
@media screen and (max-width:600px){
    .cnt{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conteneur{
        background-color:#1E1E1E;
    width: 100%;
    min-height: 200px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px 10px 0px;
    }
    .icon{
        background-color: #fff;
        border: 1px solid black;
        border-radius: 40px;
        width: 70px;
        height: 70px;
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
        font-family: Serif;
     }
     button{
        color: #fff;
        background-color:#1E1E1E !important ;
        border-style: none !important;
        left: 25px;
        font-size: 100px;
        padding: 0;
        max-width: 200px;
    }
    h1{
        width: 50px;
        min-height: 100px;
        margin: 0;
    }
}