.logo{
    width: 119px;
    left: 39px;
}
.typo{
    font-family: Helvetica;
    /* width: 100px; */
    font-size: 12px;
    color: black !important;
    list-style: none;
}
.test a{
    font-weight: bolder;
    font-size: 15px;
}
.footer{
    background-color:#F5A03A;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer h1{
    font-family: Helvetica;
font-size: 14px;
font-style: normal;
font-weight: bold;
/* line-height: 29px;
letter-spacing: 0em; */
/* text-align: left; */
}
.footer > p{
    font-family: Helvetica;
    font-size: 10;
    margin: 0;
    padding: 0;
    text-align: center;

}
.navbar-brand img{
    position: absolute;
}
.h1{
    color:#F5A03A;
}
.circle-1{
    background-color: rgba(245, 160, 58, 0.6);
    width: 105px;
    height: 105px;
    border-radius: 50%;
}
.content-1{
    font-size: 20px;
    text-align: center;
    height: auto;
}
.title{
    font-size: 20px;
}
.circle-2{
    background-color: rgba(245, 160, 58, 0.7);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
}
.content-2{
    font-size: 18px;
    text-align: center;
}
.circle-3{
    background-color: rgba(245, 160, 58, 0.8);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    left: 50%;
}
.content-3{
    font-size: 20px;
    text-align: center;
}
.circle-4{
    background-color: rgba(245, 160, 58, 0.9);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    bottom: 20vh;
    left: 20%;
}
.content-4{
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle-5{
    background-color: #F5A03A;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    right: 10px;
    bottom: 100px;
    position: relative;
    left: 20vw;
    bottom: -15vh;
}
.content-5{
    font-size: 20px;
    text-align: center;
}
.link a{
    text-decoration: none;
    text-decoration-style: none;
    color: #1e1e1e;
    font-size: 30px;
    font-weight: bold;
}
.plus{
    color: #F5A03A;
}
@media screen and (max-width:500px) {
    .circle-1{
        position: relative;
        top: -0.5vh;
        left: 30vw;
    }
    .circle-2{

    }
    .circle-3{
        left: 2vw;
    }
    .circle-4{
        bottom: -1vh;
    }
    .circle-5{
        bottom: 2vh;
    }
}