.logo{
    width: 119px;
    left: 39px;
}
.typo{
    font-family: Helvetica;
    /* width: 100px; */
    font-size: 12px;
    color: black !important;
    list-style: none;
}
.test a{
    font-weight: bolder;
    font-size: 15px;
}
.footer{
    background-color:#F5A03A;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer h1{
    font-family: Helvetica;
font-size: 14px;
font-style: normal;
font-weight: bold;
/* line-height: 29px;
letter-spacing: 0em; */
/* text-align: left; */
}
.footer > p{
    font-family: Helvetica;
    font-size: 10;
    margin: 0;
    padding: 0;
    text-align: center;

}
.navbar-brand img{
    position: absolute;
}
.circle-1{
    border: 1px solid white;
    border-radius: 100px;
    background-color: rgba(245, 160, 58, 0.6);
    height: 170px;
    width: 170px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 50px 5px 5px 5px;
}
.circle-2{
    background-color: rgba(245, 160, 58, 0.6);
    border: 1px solid white;
    border-radius: 110px;
    height: 220px;
    width: 220px;
    font-size: 32px;
    text-align: center;
    justify-content: center;
    padding: 70px 10px 10px 10px
}
.circle-3{
    background-color: rgba(245, 160, 58, 0.8);
    border: 1px solid white;
    border-radius: 150px;
    height: 300px;
    width: 300px;
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 80px;
}
.circle-4{
    background-color: rgba(245, 160, 58, 0.9);
    border: 1px solid white;
    border-radius: 200px;
    height: 400px;
    width: 400px;
    font-size: 60px;
    text-align: center;
    justify-content: center;
    padding: 125px 10px 10px 10px;
}
.cont5{
    margin: 0;
    padding: 0px 0px 0px 100px;
}
.circle-5{
    border: 1px solid white;
    border-radius: 100px;
    background-color: #F5A03A;
    height: 170px;
    width: 170px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}
.cont6{
    margin-top: 0;
    margin-bottom: 100px;
}
.link a{
    font-family: helvetica;
    font-size: 30px;
    text-decoration-style: none;
    color: #1e1e1e;
    text-decoration: none;
}
.link{
    margin-bottom: 30px;
}
span{
    color:rgba(245, 160, 58, 0.6);
    font-size: 40px;
}
.cont2{
    font-family: helvetica;
    font-size: 18px;
}
.div1{
    margin-top: 100px;
}
.cont4{
    margin: 0;
}
@media screen and (max-width:600px){
    .div1{
        margin: 0;
    }
    .circle-1{
        border: 1px solid white;
        border-radius: 50px;
        background-color: rgba(245, 160, 58, 0.6);
        height: 75px;
        width: 75px;
        font-size: 15px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        margin: 0;
        padding: 5px 5px 5px 5px;
    }
    .circle-2{
        background-color: rgba(245, 160, 58, 0.6);
        border: 1px solid white;
        border-radius: 75px;
        height: 75px;
        width: 100px;
        font-size: 20px;
        text-align: center;
        justify-content: center;
    }
    .circle-3{
        background-color: rgba(245, 160, 58, 0.8);
        border: 1px solid white;
        border-radius: 100px;
        height: 75px;
        width: 90px;
        font-size: 30px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .circle-4{
        background-color: rgba(245, 160, 58, 0.9);
        border: 1px solid white;
        border-radius: 150px;
        height: 150px;
        width: 200px;
        font-size: 30px;
        text-align: center;
        justify-content: center;
    }
    .circle-5{
        border: 1px solid white;
        border-radius: 50px;
        background-color: #F5A03A;
        height: 50px;
        width: 75px;
        font-size: 15px;
        text-align: center;
        justify-content: center;
        padding-top: 40px;
    }
    .cont1{
        margin: 0;
    }
    .cont2{
        margin: 0px 0px 0px 95px;
        width: 300px;
    }
}
